@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  box-sizing: border-box;
}

.meal-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.meal-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.meal-description {
  margin-bottom: 8px;
}

.meal-price {
  font-weight: bold;
}

/*_______Nav____________*/

.NavBarContainer {
  display: flex;
  flex-direction: column;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  background-color: #caf9d7;
  padding: 10px 10px;
  font-family: "Satisfy", cursive;
  font-size: 3rem;
}

.heading-container a:hover {
  color: #3e3e40;
}

.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #caf9d7;
}

.list-container-item {
  padding: 10px;
}

.list-container-item:hover {
  padding: 10px;
  border: solid 2px #034924;
  background-color: #35d384;
  color: #ffff;
}

@media screen and (max-width: 375px) {
  .forHeader ul a {
    margin-bottom: 10px;
  }
}

#logo {
  margin-left: 50px;
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.logo-text {
  font-family: "Satisfy", cursive;
}

/*____About________*/
.about {
  background-image: url("https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.heading {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 40px;
}

.about-description {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
}
.about-span {
  color: green;
  font-weight: 600;
  font-size: 22px;
}

article {
  padding: 2% 2%;
  background-color: rgba(255, 255, 255, 0.75);
  position: relative;
  border-radius: 5px;
  width: 40vw;
}

@media screen and (max-width: 900px) {
  article {
    padding: 5% 5%;
    width: 60vw;
    position: relative;
    top: 30%;
    left: 20%;
  }
}
/*_____AddYourMeal_________*/
.add-meal {
  margin: 0 auto;
}

#add-meal-bgr {
  max-width: 100%;
  max-height: 100%;
}

.add-meal p {
  margin: 10px 10px;
  text-align: center;
}

.form {
  position: relative;
  margin: 0 auto;
}

.add-form {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: 30% 30%;
  column-gap: 2%;
  margin: 3% 0px;
}

.add-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.flex-buttons {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.add-form input {
  padding: 3px 3px;
  outline-color: lightgreen;
}

#back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .add-form {
    grid-template-columns: 40% 40%;
  }
}

/*________Footer__________*/

footer {
  color: white;
  background-color: #7ed957;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
}

footer ul {
  display: block;
  margin-left: 50px;
}

.footerLink {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

.socialMedia {
  margin-right: 50px;
}

.socialMedia ul {
  display: flex;
}

.socialMedia h3 {
  font-weight: 400;
  margin-bottom: 5px;
}

.meal-image {
  max-width: 100%;
  max-height: 100%;
}
